
body {
    font-size: 3vw;
}
.store .content{
    display: flex;
    justify-content: space-around;
}
/* .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card > * {
    flex-grow: 1;
}
.card-text {
    flex-grow: 3;
    /* min-height: 12rm; 
}

.card-img-top {
    height:18rem;
    width: 12rem;
    object-fit: cover;
} */

.standaloneimg {
    max-width: 30rem;
    display: block;
    margin-left:auto;
    margin-right: auto;
}

div {
    margin-left: 1rem;
}

.homecaro {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

 .carousel-inner {
    max-width: 50rem;
    max-height: 40rem;
    margin: auto;
} 

.content {
    flex-wrap: wrap;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}


    
    

    body {

        transition: background-color 0.5s ease;
      
      }
      
      
      .dark {
      
        background-color: #343a40;
      
        color: #fff;
      
      }
      
      
      .dark a {
      
        color: #fff;
      
      }
      
      
      .dark .btn-primary {
      
        background-color: #fff;
      
        border-color: #fff;
      
        color: #343a40;
      
      }
      
      
      .dark .btn-primary:hover {
      
        background-color: #e9ecef;
      
        border-color: #e9ecef;
      
        color: #343a40;
      
      }

 .card-text {
    font-size: 1.5rem;
    font-size: ;
 }    
.card {
    /* display: block; */
    /* margin-left: auto;
    margin-right: auto;
    float: none;
    margin-bottom: 10px; */

 }

 /* label {
    width:31.5rem;
    height:200px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
  }
  label:after {
    content: "";
    width:180px;
    height: 180px;
    position: absolute;
    top:10px;
    left:10px;
    background: linear-gradient(180deg,#ffcc89,#d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  }
  input {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  input:checked + label {
    background: #242424;
  }
  input:checked + label:after {
    left:490px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#777,#3a3a3a);
  }
  label, label:after {
    transition: 0.3s
  }
  label:active:after{ 
    width: 260px;  
  } */

.register-box {
    
}
.savings {
    color: darkgreen;
     background-color: #5cb85c;
     border-radius: .4rem;
     font-size: medium;
}